@page
@model LLajtaAventura.Pages.CategoryEvents.TouristSiteModel
@{
	ViewData["Title"] = "Detalles del Lugar Turístico";
}
<div>
    @if (Model.TouristSites != null)
    {
        foreach (var touristSite in Model.TouristSites)
        {
            <div class="card">
                <div class="card-header">
                    <h1>@touristSite.Name</h1>
                </div>
                <div class="card-body">
                    <p>@touristSite.Description</p>
                    <!-- Otras propiedades del lugar turístico -->
                </div>
            </div>
        }
    }
    else
    {
        <p>No se encontraron lugares turísticos.</p>
    }
</div>