@page
@model TurismoWeb.Pages.Register.FormRegisterTPlaceModel
@{
    ViewData["Title"] = "Registro de atractivo Turístico";
}


<link rel="stylesheet" href="~/css/formTuristicStyle.css">

<div class="wrapper">
    <div class="title">
        Registro Atractivo Turístico
    </div>
    <div class="form">
        <div class="inputfield">
            <label>Nombre</label>
            <input type="text" class="input" placeholder="Nombre del atractivo turístico">
        </div>
        <div class="inputfield">
            <label>Descripción</label>
            <input type="text" class="input" placeholder="Descripción del atractivo turístico">
        </div>

        <div class="inputfield">
            <label>Horario Inicio</label>
            <input type="datetime-local" class="input" name="StartTime">
            <span class="label">Fecha de Inicio</span>
        </div>
        <div class="inputfield">
            <label>Horario Fin</label>
            <input type="datetime-local" class="input" name="EndTime">
            <span class="label">Fecha de Fin</span>
        </div>

        <div class="inputfield">
            <label>Categoría</label>
            <div class="custom_select">
                <select name="CategoryId">
                    <option value="">Seleccionar Categoría</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            </div>
        </div>


        <div class="inputfield">
            <label>Precio</label>
            <input type="number" class="input" placeholder="Precio">
        </div>


        <div id="map" style="height: 400px;"></div>
        <input id="latitude" name="Latitude" />
        <input id="longitude" name="Longitude" />
        <button type="button" onclick="showMap()">Select Location</button>

        <div class="inputfield">
            <label>Categoría</label>
            <div class="custom_select">
                <select name="CategoryId">
                    <option value="">Seleccionar Categoría</option>

                </select>
            </div>
        </div>
        </div>
        <div class="inputfield">
            <label>Fotos</label>
            <input type="text" class="input" placeholder="Ingresar Foto">
        </div>
        <div class="inputfield">
            <label>Enlaces</label>
            <input type="text" class="input" placeholder="Ingresar enlaces de videos">
        </div>


        <div class="inputfield">
            <button type="submit" value="Registrar" class="btn">Registrar</button>
        </div>
    </div>
</div>

<script src="~/js/map.js">  </script>



