@page
@model TurismoWeb.Pages.Login.LoginForgotModel
@{
}
<link rel="stylesheet" href="~/css/formStyle.css">


<form action="">
    <h1 class="title">Login</h1>
    <label>
        <i class="fa-solid email"></i>
        <input placeholder="username" type="text" id="username">
    </label>

    <a href="#" class="link">Forgot your password?</a>

    <button id="button">Login</button>
</form>